.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 16px;
  min-width: 100px;

  border: none;
  outline: none;

  background-color: $primary;
  color: $white;

  border-radius: 8px;
  font-weight: 600;

  cursor: pointer;

  &_secondary {
    background-color: $secondary;
    color: $black;
  }

  &_disabled {
    background-color: $white;
    color: $black;

    border: 1px solid $black;
    cursor: not-allowed;
  }

  &__loader {
    width: 18px;
    height: 18px;

    border: 2px solid $white;
    border-radius: 50%;

    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotation 1s linear infinite;
  }
}

@include desktop-lg {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
